* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.confirmar-envio-container  {
  min-height: calc(100vh - 60px); /* 🔥 ajustá el 60px */
  background: #0B1120;
}

.confirmar-dashboard-content {
  padding: 40px 60px;
}

.confirmar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.confirmar-header h1 {
  font-size: 2.5rem;
  color: #F8FAF6;
  margin-bottom: 10px;
}

.confirmar-header p {
  color: #a3b0c2;
  font-size: 1.1rem;
}

.shipments-table {
  background: #1E293B;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.table-header h2 {
  margin-bottom: 6px;
  color: #F8FAF6;
}

.confirmar-actions {
  display: flex;
  gap: 10px;
}

.confirmar-actions input {
  width: 300px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #1E293B;
}

th,
td {
  padding: 18px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

td {
  color: #F8FAF6;
}

th {
  color: #F8FAF6;
  font-weight: 600;
}

.tracking {
  color: #ff7b00;
  font-weight: bold;
}

.confirmar-loading-screen {
  height: calc(100vh - 60px); /* 🔥 ajustá el 60px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #0B1120;
  color: white;
}

.confirmar-loader {
  width: 70px;
  height: 70px;
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-top: 6px solid orange;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.confirmar-detalles, .confirmar-envio, .rechazar-envio {
    background-color: #0B1120;
    border-radius: 8px;
    font-size: large;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
}

.confirmar-detalles {
    color: #ff7b00;
}

.confirmar-envio {
    color: green;
}

.rechazar-envio {
    color: red;
}

.confirmar-detalles svg {
  width: 22px;
  height: 22px;
}

.actions-table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fila-expandida td {
  padding: 0;
  background: #0B1120;
}

.detalle-envio {
  padding: 15px;
  border-left: 4px solid #ff7b00;
  border-right: 4px solid #ff7b00;
  animation: fadeIn 0.5s ease-in-out;
}

.detalle-envio strong {
  color: #ff7b00;
}

.detalle-envio p {
  margin-top: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #1E293B;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal textarea {
  background-color: #0B1120;
  color: #F8FAF6;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.confirmar,
.cancelar {
  flex: 1;
  padding: 15px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.cancelar {
  background: red;
  border: 2px solid #1E293B;
  color: white;
}

.cancelar:disabled,
.confirmar:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.confirmar {
  background: #F97316;
  border: 2px solid #1E293B;
  color: white;
}

.confirmar:hover:not(:disabled) {
  background: #F98000;
}

.cancelar:hover:not(:disabled) {
  background: #d32f2f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */