.reportes-layout {
  min-height: calc(100vh - 60px); /* 🔥 ajustá el 60px */
  background: #0B1120;
}

.reportes-loading-screen {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #0B1120;
  color: white;
}

.reportes-loader {
  width: 70px;
  height: 70px;
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-top: 6px solid orange;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}